*{
    font-family: cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.m-auto{
    margin: auto;
}



.wrapper{
    width: 1000px;
    margin: 10px auto;
    padding: 8vh 15px;
    border: 2px solid #111;
    border-radius: 15px;
}
.app{
    display: flex;
    justify-content: center;
    text-align: center;
}
h1{
    margin: 0 0 40px;
    font-size: 56px;
}

.app input,button{
    height: 35px;
    font-size: 20px;
    border-radius: 5px;
    min-width: 70px;
}

.app input[type=text]{
    width: 250px;
    padding: 0 10px;
}




.game, .game-options{
    width: 90%;
    margin: auto;
}
.game{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.gameBlock{
    width: 200px;
    height: 160px;
    margin: 8px;
    position: relative;
}
.gameBlock img{
    width: 100%;
    height: 100%;
}
.greenOverlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #17a00e;
    transition: 0.3s;
}
.greenOverlay:hover{
    background-color: #108908;
}

.game-rules{
    width: 90%;
    margin: 40px auto 0px;
}
.game-rules h3 {
    margin-bottom: 15px;
}
.game-rules ul {
    text-align: left;
}

.game-options{
    flex-wrap: wrap;
    justify-content: center;
}
.game-options button{
    margin: 0 5px;
}
.score-container, .failed-attempts-container, .game-options{
    display: none;
    width: 100%;
}
#endGame{
    display: none;
}

@media(max-width: 1000px){
    .wrapper{
        width: 95%;
        padding: 4vh 4px;
    }
    h1{
        margin: 0 0 30px;
        font-size: 48px;
    }
    .game{
        width: 100%;
        justify-content: center;
    }
    .gameBlock{
        width: 150px;
        height: 110px;
        margin: 4px 2px;
    }
    .game-options{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width: 450px){
    h1{
        margin: 0 0 30px;
        font-size: 38px;
    }
    #blocksCount{
        width: 200px;
        font-size: 15px;
    }
    .generateBlocksContainer *{
        font-size: 15px;
    }
}
@media(max-width: 340px){
    .gameBlock{
        width: 120px;
        height: 80px;
        margin: 4px 0px;
    }
}